<?xml version="1.0"?>

<robot name="crom2_robot" xmlns:xacro="http://ros.org/wiki/xacro">
 <xacro:macro name="torso">
   <!-- Define a offsets using properties -->
   <property name="torso_offset_x" value="0.0" />
   <property name="torso_offset_y" value="0.0" />
   <property name="torso_offset_z" value="0.0" />
   <property name="trunk_offset_x" value="0.0" />
   <property name="trunk_offset_y" value="0.0" />
   <property name="trunk_offset_z" value="1.078" />
   <property name="head_offset_x" value="0.0" />
   <property name="head_offset_y" value="0.0" />
   <property name="head_offset_z" value="0.545" />

   <!-- Include all component files -->
   <xacro:include filename="$(find crom2_description)/urdf/materials.urdf.xacro" />
   <xacro:include filename="$(find crom2_description)/urdf/crom2_base.urdf.xacro" />
   <xacro:include filename="$(find crom2_description)/urdf/crom2_trunk.urdf.xacro" />
   <xacro:include filename="$(find crom2_description)/urdf/crom2_head.urdf.xacro" />
   <!--xacro:include filename="$(find crom2_description)/urdf/crom2_head.urdf.xacro" /-->
   
 
  <link name="base_footprint">
  </link>
  
   <!-- Add the base -->
   <base name="base" color="Blue" parent="base_footprint"/>
   
   <!-- Attach the trunk -->
   <trunk name="waist" parent="base" color="Blue">
      <origin xyz="${trunk_offset_x} ${trunk_offset_y} ${trunk_offset_z}" rpy="0 0 0" />
   </trunk>
   
   <!-- Attach the head -->
   <head name="head" parent="waist" color="Blue">
      <origin xyz="${head_offset_x} ${head_offset_y} ${head_offset_z}" rpy="0 0 0" />
   </head>
</macro>
</robot>
